.modal-content {
    border-radius: 10px;
    padding: 20px;
}
.modal-header {
    border-bottom: none;
}
.modal-body {
    text-align: center;
}
.login-btn {
    border: 2px solid black;
    color: black;
    transition: 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: black;
    color: white;
}


.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .sidebar {
    background-color: #333;
}

.dark-mode .sidebar a {
    color: white;
}

.dark-mode .sidebar a:hover {
    background-color: #555;
}